<footer data-aos="fade-up" data-aos-delay="150" class="text-lg-start" style="background-color: rgba(0, 0, 0, 0.2);">
  <hr class="md-1">

  <div style="max-width: 35rem; margin: auto; font-size: 1rem;">
    <div class="row justify-content-center text-center" >
      <div id="footer_nav_item_1" onmouseover="MouseOverFooterNav('1')" onmouseout="MouseOutFooterNav('1')" class="col-lg-3 col-md-12 animate__animated">
        <a class="text-dark" href="/home" style="font-size: 1.2rem;"><i class="fa-solid fa-house"></i> HOME <i class="fa-solid fa-house"></i></a>
      </div>
    </div>

    <%if(!platform.isMobile){%> <p></p> <%}%>

    <div class="row justify-content-center text-center" >
      <div id="footer_nav_item_2" onmouseover="MouseOverFooterNav('2')" onmouseout="MouseOutFooterNav('2')" class="col-lg-3 col-md-12 animate__animated">
        <a class="text-dark" href="/profile">|&nbsp; Profile &nbsp;|</a>
      </div>
      <div id="footer_nav_item_3" onmouseover="MouseOverFooterNav('3')" onmouseout="MouseOutFooterNav('3')" class="col-lg-3 col-md-12 animate__animated">
        <a class="text-dark" href="/certificate">|&nbsp; Certificates &nbsp;|</a>
      </div>
      <div id="footer_nav_item_4" onmouseover="MouseOverFooterNav('4')" onmouseout="MouseOutFooterNav('4')" class="col-lg-3 col-md-12 animate__animated">
        <a class="text-dark" href="/activity">|&nbsp; Activities &nbsp;|</a>
      </div>
      <div id="footer_nav_item_5" onmouseover="MouseOverFooterNav('5')" onmouseout="MouseOutFooterNav('5')" class="col-lg-3 col-md-12 animate__animated">
        <a class="text-dark" href="/projects">|&nbsp; Projects &nbsp;|</a>
      </div>
    </div>
  </div>

  <hr class="mt-4">

    <div class="text-center py-4 align-items-center">
      <p>👇 สามารถติดตามผมได้ที่ลิ้งค์ด้านล่างนี่เลย 👇</p>
      <a
        href="https://github.com/ImJustNon"
        class="btn btn-dark m-1"
        role="button"
        rel="nofollow"
        target="_blank"
      >
        <i class="fa-brands fa-github"></i>
      </a>
      <a
        href="https://www.facebook.com/imjustnon"
        class="btn btn-primary m-1"
        role="button"
        rel="nofollow"
        target="_blank"
      >
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a
        href="https://twitter.com/NoNnYhA55"
        class="btn btn-info m-1"
        role="button"
        rel="nofollow"
        target="_blank"
      >
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a
        href="https://www.youtube.com/channel/UCCAlDdKswolIsOERlt0QWbw"
        class="btn btn-danger m-1"
        role="button"
        rel="nofollow"
        target="_blank"
      >
        <i class="fa-brands fa-youtube"></i>
      </a>

      <br>
      <p>💖 หรือจะให้ค่าขนมผมก็ได้น่ะ 💖</p>
      <a
        href="https://giveme.nonlnwza.xyz/"
        class="btn btn-warning m-0"
        role="button"
        rel="nofollow"
        target="_blank"
      >
        <i class="fa-solid fa-wallet"></i>
      </a>
    </div>

    <!-- Copyright -->
    <div class="p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <div class="row justify-content-around text-center">
        <div class="col-lg">
          © <span id="c_year"></span> Copyright :
          <a class="text-dark" href="https://github.com/ImJustNon"> 💕 I_NonKanakorn 💕</a>
        </div>
        <div class="col-lg">
          &nbsp;
        </div>
        <div class="col-lg">
          &nbsp;
        </div>
        <div class="col-lg text-dark">
            ขอบคุณสำหรับ <span id="visitor-counter" class="fw-bold">0</span> การเยี่ยมชมน่ะค้าบบบ
        </div>
      </div>
    </div>
    <!-- Copyright -->
</footer>


<!-- footer nav animation -->
<script>
  function MouseOverFooterNav(id){
    document.getElementById("footer_nav_item_" + String(id)).classList.add("animate__headShake");
  }
  function MouseOutFooterNav(id){
    document.getElementById("footer_nav_item_" + String(id)).classList.remove("animate__headShake");
  }
</script>

<!-- footer visitor counter -->
<script>
  let counterElement = document.getElementById("visitor-counter");
  axios.get('/api/visitor-count/check').then(response =>{
    if(response.data.status == "SUCCESS"){
      UpdateCounter(parseInt(response.data.data.count));
      console.log(`[Debug] Get count data success : ${response.data.data.count}`);
    }
    else {
      console.log(`[Fail] Can't get visitor count ERROR: ${response.data.error}`);
      counterElement.innerHTML = "null"
    }
    
  }).catch(err =>{
    console.log(`[Fail] Can't get visitor count ERROR: ${err}`);
    counterElement.innerHTML = "null";
  });

  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }
  async function UpdateCounter(value){
    for(let i = 1; i <= value; i++){
      counterElement.innerHTML = i;
      await sleep(10);
    }
  }
</script>

<!-- footer year updater -->
<script>
  document.getElementById("c_year").innerHTML = 2022;
</script>