<!-- Preload -->
<div class="preloader">
    <div class="center">
        <img class="rotate" src="assets/images/my_face.jpg" alt="myFace">
        <br><br>
        <h2 id="loading">⏳ โหลดแป๊บบ</h2>
    </div>
</div>
<!-- Preload -->

<!-- Preload fadeOut script -->
<script>
    let loaded = false
    window.onload = function () {
        $(".preloader").fadeOut(); 
        loaded = true;

        setTimeout(() =>{
            notyf.success("Successfully loaded the script 👍");
        }, 500);
    }
</script>

<script>
    let loadingElement = document.getElementById("loading");
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    async function loadingText(){
        for(let i = 0; i < Infinity; i++){
            if(loaded){
                loadingElement.innerHTML = "เสร็จเเล้ว 👍";
                break;
            }
            loadingElement.innerHTML = "⏳ โหลดแป๊บบ";
            for(let ii = 0; ii <= 3; ii++){
                if(loaded) break;
                await sleep(100);
                loadingElement.innerHTML += "◾";
            };
            await sleep(10);
        }
    }
    
    loadingText();
</script>
<!-- Preload fadeOut script -->