<!-- Preload -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- Preload -->

<!-- Preload fadeOut script -->
<script>
    window.onload = function () {
        $(".preloader").fadeOut(); 
    }
</script>
<!-- Preload fadeOut script -->