 /* Carousel styling */
 #introCarousel,
 .carousel-inner,
 .carousel-item,
 .carousel-item.active {
   height: 50vh;
 }

 .carousel-item:nth-child(1) {
   background-image: url('../assets/images/activity/Picture4.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
 }
 .carousel-item:nth-child(2) {
   background-image: url('../assets/images/activity/Picture12-crop.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
 }
 .carousel-item:nth-child(3) {
   background-image: url('../assets/images/activity/Picture6.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
 }

 /* Height for devices larger than 576px (Desktop) */
 @media (min-width: 992px) {
   #introCarousel {
     margin-top: -58.59px;
   }
   #introCarousel,
   .carousel-inner,
   .carousel-item,
   .carousel-item.active {
        margin-left: auto;
        margin-right: auto;
        height: 40vh;
        width: 120vh;
   }
 }

 .navbar .nav-link {
   color: #000000 !important;
 }