@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Prompt&display=swap');


* {
    font-family: 'Prompt', sans-serif;
}

html,body{ 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


/* Scoll bar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #838383;
}

::-webkit-scrollbar-thumb {
    background: #626262;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #313131;
    border-radius: 10px;
}


/* Navbar */
.navbar .nav-link {
    color: #000000 !important;
}


/*******************
    Preloader
********************/
.preloader {
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    z-index: 2500;
    background-image: radial-gradient(ellipse, rgba(250, 250, 250, 1) 0%, rgba(165, 168, 172, 1) 100%);
}
.preloader .center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.preloader .center img{
    border-radius: 50%;
}
.preloader .center h2{
    text-align: center;
}
.rotate {
    animation: rotation 1s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}