<main class="mt-2" >
    <div id="intro" class="p-5 text-center bg-transparent">
        <h1 class="mb-3 h2">กิจกรรม</h1>
    </div>

    <br>
    <br>

    <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active"></li>
          <li data-mdb-target="#introCarousel" data-mdb-slide-to="1"></li>
          <li data-mdb-target="#introCarousel" data-mdb-slide-to="2"></li>
        </ol>
  
        <!-- Inner -->
        <div class="carousel-inner">
          <!-- Single item -->
            <div class="carousel-item active">
                <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white text-center">
                    <h2><strong>เข้าร่วมการอบรมออกเเบบหุ่นยนต์</strong></h2>
                    <p>ชั้น : ปวช.1</p>
                    </div>
                </div>
                </div>
            </div>
  
            <!-- Single item -->
            <div class="carousel-item">
                <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white text-center">
                    <h2><strong>เข้าร่วมการอบรมการดูเเลรักษาคอมพิวเตอร์ด้วยตัวเอง</strong></h2>
                    <p>ชั้น : ปวช.1</p>
                    </div>
                </div>
                </div>
            </div>
  
            <!-- Single item -->
            <div class="carousel-item">
                <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white text-center">
                    <h2><strong>เข้าร่วมการเเข่งขันตอบคำถามวิชาการ</strong></h2>
                    <p>ชั้น : ปวช.1</p>
                    </div>
                </div>
                </div>
            </div>

        </div>
        <!-- Inner -->
  
        <!-- Controls -->
        <a class="carousel-control-prev" href="#introCarousel" role="button" data-mdb-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#introCarousel" role="button" data-mdb-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>


    <div class="container">
        <hr class="my-5" />
        <section class="text-center">
            <h4 class="mb-5"><strong><i class="fa-solid fa-graduation-cap"></i> เกียรติบัตร <i class="fa-solid fa-graduation-cap"></i></strong></h4>
            <div class="row">

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/activity/Picture2-crop.jpg"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">เข้าร่วมการอบรมออกเเบบหุ่นยนต์ <br>(GW Advance Engineering)</h5>
                        <p class="card-text">
                            ชั้น : ปวช.1
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/activity/Picture3.jpg"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">เข้าร่วมการเเข่งขันตอบคำถามวิชาการ</h5>
                        <p class="card-text">
                            ได้รับรางวัลระดับเหรีญทองรองชนะเลิญอันดับที่ 1 <br>
                            ชั้น : ปวช.1
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/activity/Picture1.jpg"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">เข้าร่วมการอบรมการดูเเลรักษาคอมพิวเตอร์ด้วยตัวเอง</h5>
                        <p class="card-text">
                            ชั้น : ปวช.1
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/activity/Picture11.jpg"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">เข้าร่วมการอบรมการเขียนแผนธุรกิจ</h5>
                        <p class="card-text">
                            ชั้น : ปวช.1
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/activity/Picture9.jpg"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">เข้าร่วมการอบรมภาษาญีปุ่น</h5>
                        <p class="card-text">
                            ชั้น : ปวช.1
                        </p>
                    </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</main>