<main class="mt-2" >
    <div id="intro" class="p-5 text-center bg-transparent">
        <h1 class="mb-3 h2">เกียรติบัตร</h1>
        <p class="mb-3">😅 น่าจะพอมีเอามาลงอยู่บ้างเเหละ 555+ 😅</p>
    </div>

    <br>
    <br>

    
    <div class="container">
        <section class="text-center">
            <h4 class="mb-5"><strong><i class="fa-solid fa-graduation-cap"></i> เกียรติบัตร <i class="fa-solid fa-graduation-cap"></i></strong></h4>
  
            <div class="row">  
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture1.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Math With Python by Hamster Hub</h5>
                        <p class="card-text">
                            วันที่ 31/07/64 , 01/08/64 , 07-08/08/64 <br>
                            ชั้น : มัธยมศึกษาปีที่ 3
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture2.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Samsung Innovation Campus</h5>
                        <p class="card-text">
                            วันที่ 18/05/63 , 26/06/63 <br>
                            ชั้น : มัธยมศึกษาปีที่ 2                            
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture3.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">เข้าร่วมอบรมกับ <br>สถาบันการจัดการปัญญาภิวัฒน์</h5>
                        <p class="card-text">
                            วันที่ 13/06/64 <br>
                            ชั้น : มัธยมศึกษาปีที่ 3
                        </p>
                    </div>
                    </div>
                </div>
  
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture4.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">การแข่งขันโครงงานวิทยาศาสตร์ประเภท<br>สิ่งประดิษฐ์ในงานการแข่งขันทักษะวิชาการและการประกวดสิ่งประดิษฐ์โรงเรียนเอกชน<br>จังหวัดสมุทรปราการ</h5>
                        <p class="card-text">
                            ได้รับรางวัลระดับเหรีญทองรองชนะเลิญอันดับสอง<br>
                            ชั้น : มัธยมศึกษาปีที่ 2                            
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture5.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">เข้าร่วมงานมหิดลวิชาการ เปิดบ้านมหิดล ประจำปี 2563</h5>
                        <p class="card-text">
                            สาขา : วิศวะคอมพิวเตอร์ และวิศวะไฟฟ้าชั้น ม.3<br>
                            ชั้น : มัธยมศึกษาปีที่ 3                            
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture6.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">อบรมออนไลน์กับ สำนักงาน สวทช.NSTDA <br>หัวข้อ Creative thinking</h5>
                        <p class="card-text">
                            วันที่ 29/06/63 - 30/06/63<br>
                            ชั้น : มัธยมศึกษาปีที่ 2
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture8.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">เข้าร่วมโครงการ มหาวิทยาลัยเด็ก ครั้งที่ 11<br>ที่มหาวิทยาลัยพระจอมเกล้าธนบุรี</h5>
                        <p class="card-text">
                            (กิจกรรมคณิตศาสตร์)<br>
                            วันที่ 22/02/63 <br>
                            ชั้น : มัธยมศึกษาปีที่ 2                            
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture9.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">เข้าร่วมโครงการ มหาวิทยาลัยเด็ก ครั้งที่ 11<br>ที่มหาวิทยาลัยพระจอมเกล้าธนบุรี</h5>
                        <p class="card-text">
                            (กิจกรรมจุลชีววิทยา)<br>
                            วันที่ 22/02/63 <br>
                            ชั้น : มัธยมศึกษาปีที่ 2                            
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture10.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">เข้าร่วมแข่งขันโครงงานวิทยาศาสตร์ประเภท<br>สิ่งประดิษฐ์ในงานการแข่งขันทักษะวิชาการและ<br>การประกวดสิ่งประดิษฐ์โรงเรียนเอกชน <br>ระดับชาติ จังหวัดสมุทรปราการ ประจำปี 2562</h5>
                        <p class="card-text">
                            ชั้น : มัธยมศึกษาปีที่ 2
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture11.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">เข้าร่วมงานศิลปะหัตถกรรมนักเรียน ครั้งที่ 69<br>ระดับเขตพื้นที่การศึกษา ประจำปีการศึกษา 2562</h5>
                        <p class="card-text">
                            ได้รับรางวัลระดับเหรีญทองรองชนะเลิญอันดับที่ 1<br>
                            ชั้น : มัธยมศึกษาปีที่ 2
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture12.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">การแข่งขันประดิษฐ์ร่มพยุงไข่<br>ระดับมัธยมศึกษาตอนต้น ประจำปี 2562</h5>
                        <p class="card-text">
                            ได้รับรางวัลระดับเหรีญทองรองชนะเลิญอันดับที่ 1<br>
                            ชั้น : มัธยมศึกษาปีที่ 2
                        </p>
                    </div>
                    </div>
                </div>
            </div>


            
        </section>
    </div>
</main>