<!--
    <div id="my_big_face" style="justify-content: center;">
        <img class="animate__animated animate__heartBeat" src="assets/images/my_face.jpg" style="width: 150rem;border-radius: 10px;"/>
    </div>
-->

<main class="mt-5" >
    <div class="container">
        <!--Section: Content-->
        <section >
        
        <div class="row">
            <div class="col-md-6 gx-5 mb-4">
            <div class="bg-image hover-overlay animate__animated animate__zoomIn" style="display: flex;justify-content: center;">
                <img id="profile_img" src="assets/images/najimi.jpg" class="img-fluid animate__animated" style="width: 45%;border-radius: 50%;"/>
            </div>
            </div>

            <div class="col-md-6 gx-5 mb-4" style="padding-top: 1.5%;">
            <h4 class="animate__animated animate__fadeInDown"><strong>" สวัสดีคร้าบบ ท่านผู้เจริญ "</strong></h4>
            <p class="text-muted animate__animated animate__fadeInUp">
                สวัสดีครับผมชื่อ นาย คณกร ไทยประโคน ครับ หรือจะเรียก นนท์ ก็ได้ครับ<br>
                เกิดวันที่ 4 กันยายน พ.ศ.2549 ตอนนี้ก็อายุ <span id="my_age"></span> ขวบเเล้วครับ<br>
                ชอบทางด้าน Web Application เเละ Backend web development ครับ<br><br>
                ปัจจุบันศึกษาระดับ ปวช. ที่ <a class="text-dark" href="http://sbtvc.ac.th/gcms/index.php" target="_blank">วิทยาลัยอาชีวศึกษาเทคโนโลยีฐานวิทยาศาสตร์ (ชลบุรี)</a> <br>
                สาขา <a class="text-dark" href="#!">เทคโนโลยีสารสนเทศ</a> ครับ
            </p>
            </div>
        </div>
        </section>
        <!--Section: Content-->

        <hr class="my-5" />

        <!--Section: Content-->
        <section class="text-center">
            <h4 class="mb-5 animate__animated animate__fadeInDown"><strong>😆 มาทำความรู้จักกันเถอะ 😆</strong></h4>

            <div class="row">
                <div class="col-lg-3 col-md-12 mb-3 js-tilt" data-tilt-perspective="2000" data-tilt-scale="1.1" data-tilt-speed="400" data-tilt-max="25">
                    <div class="card animate__animated animate__flipInX">
                        <div class="card-body">
                        <h5 class="card-title">ชื่อจริง</h5>
                        <p class="card-text">
                            คณกร ไทยประโคน
                        </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12 mb-3 js-tilt" data-tilt-perspective="2000" data-tilt-scale="1.1" data-tilt-speed="400" data-tilt-max="25">
                    <div class="card animate__animated animate__flipInX">
                        <div class="card-body">
                        <h5 class="card-title">ชื่อเล่น</h5>
                        <p class="card-text">
                            นนท์ , นน , ณณฑ์ 🤣
                        </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12 mb-3 js-tilt" data-tilt-perspective="2000" data-tilt-scale="1.1" data-tilt-speed="400" data-tilt-max="25">
                    <div class="card animate__animated animate__flipInX">
                    <div class="card-body">
                        <h5 class="card-title">วันเกิด</h5>
                        <p class="card-text">
                        วันจันทร์ที่ 4 เดือนกันยายน พ.ศ.2549
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12 mb-3 js-tilt" data-tilt-perspective="2000" data-tilt-scale="1.1" data-tilt-speed="400" data-tilt-max="25">
                    <div class="card animate__animated animate__flipInX">
                    <div class="card-body">
                        <h5 class="card-title">อาศัยอยู่ที่</h5>
                        <p class="card-text">
                        สมุทรปราการ ประเทศไทย
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12 mb-3 js-tilt" data-tilt-perspective="2000" data-tilt-scale="1.1" data-tilt-speed="400" data-tilt-max="25">
                    <div class="card animate__animated animate__flipInX">
                    <div class="card-body">
                        <h5 class="card-title">สถานะ</h5>
                        <p class="card-text">
                        โสด (มาทั้งชีวิต 😭)
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12 mb-3 js-tilt" data-tilt-perspective="2000" data-tilt-scale="1.1" data-tilt-speed="400" data-tilt-max="25">
                    <div class="card animate__animated animate__flipInX">
                    <div class="card-body">
                        <h5 class="card-title">กำลังศึกษาอยู่ที่</h5>
                        <p class="card-text">
                        วอท. ชลบุรี
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12 mb-3 js-tilt" data-tilt-perspective="2000" data-tilt-scale="1.1" data-tilt-speed="400" data-tilt-max="25">
                    <div class="card animate__animated animate__flipInX">
                    <div class="card-body">
                        <h5 class="card-title">สิ่งที่ชอบ / สนใจ</h5>
                        <p class="card-text">
                        Web Development
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12 mb-3 js-tilt" data-tilt-perspective="2000" data-tilt-scale="1.1" data-tilt-speed="400" data-tilt-max="25">
                    <div class="card animate__animated animate__flipInX">
                    <div class="card-body">
                        <h5 class="card-title">อาหารที่ชอบ</h5>
                        <p class="card-text">
                        ทุกอย่างที่กินได้ ยกเว้น 🥦
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </section>

        <hr class="my-5" />

        <section class="text-center">
            <h4 class="mb-5 animate__animated animate__fadeInDown"><i class="fa-solid fa-chart-line"></i> กิจกรรมบางส่วน <i class="fa-solid fa-chart-line"></i></h4>
            
            <swiper-container role="button" pagination="true" pagination-clickable="true" space-between="30" slides-per-view="3" autoplay-delay="2500" autoplay-disable-on-interaction="false" data-aos="zoom-in-up"  >
                <% for(let i = 0; i < data.activity_slideshow.length; i++){ %>
                    <swiper-slide><img src="<%= data.activity_slideshow[i].img %>" alt="swiper-slider-certificate-<%= i %>" /></swiper-slide>
                <% } %>
            </swiper-container>
        
        </section>

        <hr class="my-5" />

    </div>
</main>

<!-- Age Calculator -->
<script>
    (function(){
        let dob = new Date("<%= data.birthDate %>");
        let month_diff = Date.now() - dob.getTime();
        let age_dt = new Date(month_diff); 
        let year = age_dt.getUTCFullYear();
        let age = Math.abs(year - 1970);
        document.getElementById("my_age").innerHTML = age;
    })();
</script>


<script>
    setTimeout(function(){
        let profileImageElement = document.getElementById("profile_img");
        
        const profileImageConfig = {
            animation: [
                {
                    in: "animate__rollIn",
                    out: "animate__rollOut",
                },
                {
                    in: "animate__bounceInDown",
                    out: "animate__bounceOutDown",
                },
                {
                    in: "animate__backInDown",
                    out: "animate__backOutDown",
                },
                {
                    in: "animate__backInLeft",
                    out: "animate__backOutRight",
                },
                {
                    in: "animate__flipInX",
                    out: "animate__flipOutX",
                }, 
                {
                    in: "animate__zoomInDown",
                    out: "animate__zoomOutDown",
                }
            ],
        }

        let randomProfileImageAnimation = Math.floor(Math.random() * (profileImageConfig.animation.length));

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        function AnimateOut(num){
            let classArray = (profileImageElement.classList.value).trim().split(/ +/g);
            if(classArray.includes(profileImageConfig.animation[num].in)){
                profileImageElement.classList.remove(profileImageConfig.animation[num].in);
            }
            profileImageElement.classList.add(profileImageConfig.animation[num].out);
        }
        function AnimateIn(num){
            let classArray = (profileImageElement.classList.value).trim().split(/ +/g);
            if(classArray.includes(profileImageConfig.animation[num].out)){
                profileImageElement.classList.remove(profileImageConfig.animation[num].out);
            }
            profileImageElement.classList.add(profileImageConfig.animation[num].in);
        }
        function ChangeAndRandomImage(){
            let imagesArray = [
                "assets/images/profile_images/najimi.jpg",
                "assets/images/profile_images/my_face_1.jpg",
                "assets/images/profile_images/my_face_2.jpg",
                "assets/images/profile_images/my_face_4.jpg",
                "assets/images/profile_images/my_face_5.jpg",
                "assets/images/profile_images/my_face_6.jpg",
                "assets/images/profile_images/my_face_7.jpg",
                "assets/images/profile_images/my_face_8.jpg",
                "assets/images/profile_images/my_face_9.jpg",
                "assets/images/profile_images/my_face_10.jpg",
                "assets/images/profile_images/my_face_11.jpg",
            ];
            let random = Math.floor(Math.random() * (imagesArray.length));
            let selectImage = imagesArray[random];
            profileImageElement.src = selectImage;
            console.log(`[Debug] selectImage : ${selectImage}`);
        }
        async function Run(randomNum){
            for(let i = 0; i < Infinity; i++){
                AnimateOut(randomNum);
                await sleep(1000);
                ChangeAndRandomImage();
                await sleep(500);
                AnimateIn(randomNum);
                await sleep(2500);
            }
        }
        Run(randomProfileImageAnimation);
    }, 1 * 1000);

</script>




<!--
    <script>
        // profile easter egg
        document.getElementById("my_big_face").style.display = "none";
        let faceClickCount = 0;
        let lastImage = 0;
        document.getElementById("profile_img").addEventListener("click", function(e){
            document.getElementById("profile_img").src = "assets/images/my_face.jpg";
            setTimeout(function(){
                document.getElementById("profile_img").src = "assets/images/najimi.jpg";
            }, 100);

            if(faceClickCount == 30){
                document.getElementById("my_big_face").style.display = "flex";
            }
            if(faceClickCount == 40){
                document.getElementById("my_big_face").style.display = "none";
                faceClickCount = 0;
            }
            faceClickCount++;
        });
    </script>
-->