<main class="mt-2" >
    <div id="intro" class="p-5 text-center bg-transparent">
        <h1 class="mb-3 h2">ผลงาน / โปรเจค / เกียรติบัตร</h1>
        <p class="mb-3">😅 น่าจะพอมีเอามาลงอยู่บ้างเเหละ 555+ 😅</p>
    </div>

    <br>
    <br>

    <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active"></li>
          <li data-mdb-target="#introCarousel" data-mdb-slide-to="1"></li>
          <li data-mdb-target="#introCarousel" data-mdb-slide-to="2"></li>
        </ol>
  
        <!-- Inner -->
        <div class="carousel-inner">
          <!-- Single item -->
            <div class="carousel-item active">
                <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white text-center">
                    <h2><strong>เข้าร่วมกิจกรรมโครงการอาชีพก้าวไกล เทคโนโลยีก้าวหน้า</strong></h2>
                    <p>ชั้น : มัธยมศึกษาปีที่ 1</p>
                    </div>
                </div>
                </div>
            </div>
  
            <!-- Single item -->
            <div class="carousel-item">
                <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white text-center">
                    <h2><strong>เข้าร่วมกิจกรรม กีฬาสีโรงเรียน</strong></h2>
                    <p>ชั้น : มัธยมศึกษาปีที่ 2</p>
                    </div>
                </div>
                </div>
            </div>
  
            <!-- Single item -->
            <div class="carousel-item">
                <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white text-center">
                    <h2><strong>การแสดงวงดนตรีไทย</strong></h2>
                    <p>ชั้น : มัธยมศึกษาปีที่ 2</p>
                    </div>
                </div>
                </div>
            </div>

        </div>
        <!-- Inner -->
  
        <!-- Controls -->
        <a class="carousel-control-prev" href="#introCarousel" role="button" data-mdb-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#introCarousel" role="button" data-mdb-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>

    
    <div class="container">
        <hr class="my-5" />
        <section class="text-center">
            <h4 class="mb-5"><strong><i class="fa-solid fa-graduation-cap"></i> เกียรติบัตร <i class="fa-solid fa-graduation-cap"></i></strong></h4>
  
            <div class="row">  
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture1.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Math With Python by Hamster Hub</h5>
                        <p class="card-text">
                            วันที่ 31/07/64 , 01/08/64 , 07-08/08/64 <br>
                            ชั้น : มัธยมศึกษาปีที่ 3
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture2.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Samsung Innovation Campus</h5>
                        <p class="card-text">
                            วันที่ 18/05/63 , 26/06/63 <br>
                            ชั้น : มัธยมศึกษาปีที่ 2                            
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture3.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">เข้าร่วมอบรมกับ <br>สถาบันการจัดการปัญญาภิวัฒน์</h5>
                        <p class="card-text">
                            วันที่ 13/06/64 <br>
                            ชั้น : มัธยมศึกษาปีที่ 3
                        </p>
                    </div>
                    </div>
                </div>
  
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture4.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">การแข่งขันโครงงานวิทยาศาสตร์ประเภท<br>สิ่งประดิษฐ์ในงานการแข่งขันทักษะวิชาการและการประกวดสิ่งประดิษฐ์โรงเรียนเอกชน<br>จังหวัดสมุทรปราการ</h5>
                        <p class="card-text">
                            ได้รับรางวัลระดับเหรีญทองรองชนะเลิญอันดับสอง<br>
                            ชั้น : มัธยมศึกษาปีที่ 2                            
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture5.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">เข้าร่วมงานมหิดลวิชาการ เปิดบ้านมหิดล ประจำปี 2563</h5>
                        <p class="card-text">
                            สาขา : วิศวะคอมพิวเตอร์ และวิศวะไฟฟ้าชั้น ม.3<br>
                            ชั้น : มัธยมศึกษาปีที่ 3                            
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture6.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">อบรมออนไลน์กับ สำนักงาน สวทช.NSTDA <br>หัวข้อ Creative thinking</h5>
                        <p class="card-text">
                            วันที่ 29/06/63 - 30/06/63<br>
                            ชั้น : มัธยมศึกษาปีที่ 2
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture7.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">เข้าร่วมงานวิทยาศาสตร์ประจำปี 2563<br>(Science Show) ที่โรงเรียนเซนต์แมรี่</h5>
                        <p class="card-text">
                            ชั้น : มัธยมศึกษาปีที่ 2
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture8.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">เข้าร่วมโครงการ มหาวิทยาลัยเด็ก ครั้งที่ 11<br>ที่มหาวิทยาลัยพระจอมเกล้าธนบุรี</h5>
                        <p class="card-text">
                            (กิจกรรมคณิตศาสตร์)<br>
                            วันที่ 22/02/63 <br>
                            ชั้น : มัธยมศึกษาปีที่ 2                            
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture9.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">เข้าร่วมโครงการ มหาวิทยาลัยเด็ก ครั้งที่ 11<br>ที่มหาวิทยาลัยพระจอมเกล้าธนบุรี</h5>
                        <p class="card-text">
                            (กิจกรรมจุลชีววิทยา)<br>
                            วันที่ 22/02/63 <br>
                            ชั้น : มัธยมศึกษาปีที่ 2                            
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture10.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">เข้าร่วมแข่งขันโครงงานวิทยาศาสตร์ประเภท<br>สิ่งประดิษฐ์ในงานการแข่งขันทักษะวิชาการและ<br>การประกวดสิ่งประดิษฐ์โรงเรียนเอกชน <br>ระดับชาติ จังหวัดสมุทรปราการ ประจำปี 2562</h5>
                        <p class="card-text">
                            ชั้น : มัธยมศึกษาปีที่ 2
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture11.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">เข้าร่วมงานศิลปะหัตถกรรมนักเรียน ครั้งที่ 69<br>ระดับเขตพื้นที่การศึกษา ประจำปีการศึกษา 2562</h5>
                        <p class="card-text">
                            ได้รับรางวัลระดับเหรีญทองรองชนะเลิญอันดับที่ 1<br>
                            ชั้น : มัธยมศึกษาปีที่ 2
                        </p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                        src="assets/images/portfolio/Picture12.png"
                        class="img-fluid"
                        />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">การแข่งขันประดิษฐ์ร่มพยุงไข่<br>ระดับมัธยมศึกษาตอนต้น ประจำปี 2562</h5>
                        <p class="card-text">
                            ได้รับรางวัลระดับเหรีญทองรองชนะเลิญอันดับที่ 1<br>
                            ชั้น : มัธยมศึกษาปีที่ 2
                        </p>
                    </div>
                    </div>
                </div>
            </div>


            <!-- Project Zone -->
            <hr class="my-5" />
            <h4 class="mb-5"><i class="fa-solid fa-code"></i> Projects <i class="fa-solid fa-code"></i></strong></h4>

            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="assets/images/projects/kwan_bot-crop.jpg" class="img-fluid" />
                        <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">✨ Kwan 💕#0111</h5>
                        <p class="card-text">
                            บอทดิสคอร์ดสารพัดประโยชน์ ทั้งสามารถเล่นเพลง<br>จัดการเซิฟเวอร์ หรือมอบความบรรเทิงได้ เเละ อีกหลากหลายคำสั่งกว่า <strong> 400+ คำสั่ง </strong> ให้ใช้งาน 😮 <br>
                            - Discordjs V.12.5.3 -
                        </p>
                        <a href="https://github.com/ImJustNon/Kwan-Bot-Project" class="btn btn-primary"><i class="fa-brands fa-github"></i> Github</a>
                      </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="assets/images/projects/Music-bot-with-request-channel-bot.jpg" class="img-fluid" />
                        <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Music-bot-with-request-channel</h5>
                        <p class="card-text">
                            บอทเวอร์ชั่นต้นเเบบ สร้างห้องเล่นเพลงอัตโนมัติ โดยไม่จำเป็นต้องใช้ Prefix <br>
                            - Discordjs V.12.5.3 -
                        </p>
                        <a href="https://github.com/ImJustNon/Music-bot-with-request-channel" class="btn btn-primary"><i class="fa-brands fa-github"></i> Github</a>
                      </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="assets/images/projects/aiko_bot-crop.jpg" class="img-fluid" />
                        <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">A i K o #6265</h5>
                        <p class="card-text">
                            บอทเวอร์ชั่นต่อยอดมาจาก ✨ Kwan 💕#0111 โดยเพิ่มระบบ เล่นเพลงโดยไม่ใช้ Prefix เเละ Update เวอร์ชัน Discordjs ให้รองรับฟังค์ชันใหม่ๆได้มากขึ้น<br>
                            - Discordjs V.13.6.0 -
                        </p>
                        <a href="https://github.com/ImJustNon/Aiko-discordv13-project" class="btn btn-primary"><i class="fa-brands fa-github"></i> Github</a>
                      </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="assets/images/projects/miku_bot-crop.jpg" class="img-fluid" />
                        <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">✨ M i K U 💙#1031</h5>
                        <p class="card-text">
                            บอทเพลงตัวเเรกตอนที่พึ่งเริ่มทำ ระบบค่อนข้างเก่า เเละจัดการยาก ทำให้ ✨ Kwan 💕#0111 เกิดขึ้นมาเเทน <br>
                            - Discordjs V.12.5.1 -
                        </p>
                        <a href="https://github.com/ImJustNon/MiKU-Music-Bot-Project" class="btn btn-primary"><i class="fa-brands fa-github"></i> V.1</a>
                        <a href="https://github.com/ImJustNon/MiKU-Bot-Final" class="btn btn-primary"><i class="fa-brands fa-github"></i> V.2</a>
                      </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="assets/images/projects/activity_bot-crop.png" class="img-fluid" />
                        <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Discord-Activity-Bot</h5>
                        <p class="card-text">
                            โปรดเจคเกิดขึ้นจาก Discord ประกาศว่าจะสามารถเล่นเกมบน Discord ได้ เเต่จำเป็นต้องสร้าง Client มาเองเพื่อสร้างลิ้งค์เข้าเกม เลยเกิดโปรเจคบอทตัวนี้ขึ้น <br>
                            - Discordjs V.12.5.3 -
                        </p>
                        <a href="https://github.com/ImJustNon/Discord-Activity-Bot" class="btn btn-primary"><i class="fa-brands fa-github"></i> Github</a>
                      </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</main>